@{
    ViewBag.Title = "MenuDichVu";
 
}

@model List<Modelss.Model.LoaiDichVu>

@foreach(var item in Model)
{
    
        <a class ="collapse-item" href="index.html" > @item.TenLoaiDichVu</a>
    
}
    
