<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>

    <add name="QLTCdbContext" connectionString="data source=LAPTOP-VA3QE2VM\SQLEXPRESS;initial catalog=QL_TiecCuoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>
