@{
    ViewBag.Title = "themDichVu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<Modelss.Model.LoaiDichVu>

<h2>Thêm dịch vụ</h2>

<div class="container-fluid login-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <form action="@Url.Action("xuLythemDichVu")" method="post" enctype="multipart/form-data">
                    <div class="container login-table">
                        <hr />

                     
                        <label for="maloai"><b>Loại dịch vụ</b></label>
                        <br />
                       <select  name="loaidichvu" style="width:100%; height:40px; background-color:#e1d5d5;">
                         @foreach (var i in Model)
                          {
                              <option value="@i.MaLoaiDichVu">@i.TenLoaiDichVu</option>
                          }
                       </select>
                        <br />
                        <label for="tendichvu"><b>Tên dịch vụ</b></label>
                        <br />
                        <input type="text" name="tendichvu"  required />
                        <br />
                        <label for="giatien"><b>Giá</b></label>
                        <br />
                        <input type="text" name="giatien"  required />
                        <br />
                        <label for="hinh"><b>Hình Ảnh</b></label>
                        <br />
                        <input type="file" name="hinh" required />
                        <br />
                        <label for="ghichu"><b>Ngày Đăng</b></label><br />
                        <label>@DateTime.Now.ToString("dd/MM/yyyy")</label>
                        <br />
                        <label for="mota"><b>Mô tả</b></label>
                        <br />
                        <input  type="text" name="mota"  required />
                        <br />
                        <label for="trangthai"><b>Trạng thái</b></label>
                        <br />
                        <input  type="text" name="trangthai"  required />

                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
