@*@{
    ViewBag.Title = "MenuMonAn";
    
}*@

@*@model List<Modelss.Model.ChiTietGoiDichVu>

@foreach(var item in Model)
{
     *@<br />
        @*<a>*@
            <p>123331</p>
           
      @*      @{ Html.RenderAction("layTenDichVu2", "DichVu", new { madichvu = @item.MaDichVu }); }</a>*@
@*}*@